{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success text-center fw-bold w-auto fs-4" style="z-index: 9;">
			{{ message }}</div>
	{% endfor %}

	<div class="body_home w-100 text-center d-flex flex-column mb-1 px-sm-2 px-lg-4">
		<div data-aos="fade-up"
     data-aos-easing="linear"
     data-aos-duration="1000">
			{% include "partials/_main_title.html.twig" %}
		</div>
		<div class="row mb-4 service_and_img">
			<div class="col-xs-12 col-lg-6 srv_plus_img">
				{% include "partials/_services_line.html.twig" %}
			</div>
			<div class="col-xs-12 col-lg-6 mt-xs-3 d-flex flex-column srv_plus_img">
				{% include "partials/_header_img.html.twig" %}

				{% include "partials/_btn_rdv.html.twig" %}
			</div>
		</div>
		<br>
	</div>
</div>
{# ****************best comments********** #}
<div class="row mt-1 text-center" id="bestComments">
	<div class="col-12">
		<h2 class="comm_title my-4 bg-light text-dark">Témoignage</h2>
		{% include "partials/_bestComments.html.twig" %}

		<h3 class="my-4">
			<button type="button rounded" id="btn_comments">Voir tous les témoignages</button>
		</h3>
		<div class="col-12 px-4 text-center hidden" id="commentsAll" style="transition: 0.3s ease-in-out;">
			{% include "partials/_commentsAll.html.twig" %}
			<button type="button rounded" id="close_all_comments">Fermer les témoignages</button>
		</div>
		<h3 class="my-4">
			<button type="button rounded" id="btn_comment">Ajouter un témoignage</button>
		</h3>
		<div class="hidden " id="commentNew">
			{% include "partials/_comment.html.twig" %}
		</div>
	</div>
</div>
{# </div> #}
<br>
{# ****************************** #}
<div class="row mb-4">
<div class="col-12">
	{% include "partials/_btn_up.html.twig" %}
	{% include "partials/_btn_home.html.twig" %}
</div></div></div></div>
<div class="row mt-4"><div class="col-12"
>{% include "partials/_liens_schedule_address.html.twig" %}</div></div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script>$(document).ready(function () {
$("#btn_comment").click(function () {
$("#commentNew").removeClass("hidden");
});
$("#btn_comments").click(function () {
	if($("#commentsAll").hasClass("hidden")){
$("#commentsAll").removeClass("hidden");
$("#btn_comments").text("Tous les témoignages");
	}else{
		$("#commentsAll").addClass("hidden");
$("#btn_comments").text("Voir tous les témoignages");
	}

});
$("#close_all_comments").click(function () {
$("#commentsAll").addClass("hidden");
$("#btn_comments").text("Voir tous les témoignages");
});
$('.carousel').carousel({
  interval: 2200
})
});
</script>{% endblock %}

