
			{% for comment in bestComments %}
				{% if comment.isApproved %}
					<div class="comment mb-4"
					 {# style="margin-left: 10%;" #}
					 >
						<div>
							<div class="block p-6">
								<div class="ms-6">
                <h3 class="rounded bg-light text-dark fs-2">{{ comment.subject|raw }}</h3>
                  <p class="text-light mb-3 fs-3">
										{{ comment.content|raw }}
									</p>
										<p class="text-light p_sec" >{{ comment.author }}</p>
                  <p class=" mb-3 text-light p_sec">Note: {{ comment.mark }}</p>									
								</div>
							</div>
						</div>
					</div>
					<hr class="mx-4">
				{% endif %}
			{% endfor %}
            


