
			{% for comment in bestComments %}
				{% if comment.isApproved %}
					<div class="comment mb-4"
					 {# style="margin-left: 10%;" #}
					 >
						<div>
							<div class="block p-6">
								<div class="ms-6">
                <h5 class="text-light rounded">{{ comment.subject|raw }}</h5>
                  <p class="text-light fs-6 mb-3">
										{{ comment.content|raw }}
									</p>
										<p class="text-light " >{{ comment.author }}</p>
                  <p class=" mb-3 text-light">Note: {{ comment.mark }}</p>									
								</div>
							</div>
						</div>
					</div>
					<hr class="mx-4">
				{% endif %}
			{% endfor %}
            


