<footer class="footer">
<div>
	<a class="nav-link-footer" href="{{ path('footer.legal_notice') }}">Mentions légales</a>
</div>
	
<div class="nav-link-footer footer-copyright text-center">@2023 Copyright: Iryna.G
</div>

<div>
<a class="nav-link-footer" href="{{ path('footer.privacy_policy') }}">Politique de confidentialité</a>
</div>
	
</footer>