<footer class="footer d-flex flex-xs-column flex-lg-row justify-content-between">
<div>
	<a class="nav-link-footer ms-2" href="{{ path('footer.legal_notice') }}">Mentions légales</a>
</div>
	
<div class="nav-link-footer footer-copyright text-center">&#169;2023 Copyright: Iryna.G
</div>

<div>
<a class="nav-link-footer mx-2" href="{{ path('footer.privacy_policy') }}">Politique de confidentialité</a>
</div>
	
</footer>