<div 
style="z-index: -2;" 
class="mb-2">
<img src="/assets/images/bg.jpg" alt="bg" id="bg_main_img" 
style="width: 100%; min-height: 100vh; margin-top: -24em; position: fixed;" 
class="img-fluid mb-4 sm-h-50" />
</div>

