<div class="d-flex flex-column align-items-center text-center  text-light mt-4">
<h4 class="down_line_names py-3 w-auto">Visiter le site</h4>
<ul class="mt-4 text-start text-light visit_site_links" style="text-decoration: none;">
        <li>
          <a class="down_link" href="/">Accueil</a>
        </li>
        <li>
          <a class="down_link" href="/service">Nos services</a>
        </li>
        <li>
          <a class="down_link" href="/car">Nos voitures d'occasion</a>
        </li>
        <li>
          <a class="down_link" href="/contact/new">Contactez nous</a>
        </li>
      
      
        {# {% endif %} #}
    
      </ul>
</div>

