<div 
class="mt-4 d-flex flex-xs-column flex-lg-row lien_s_a max-height: 100px;" 
style="padding: 15px;" 
id="line_sched_adr_liens"
>
	<div style="min-width: 30%;"> 
	{% include "partials/_liens.html.twig" %}
	</div>
	<div style="min-width: 30%;"> 
	{% include "partials/_schedule_line.html.twig" %}
	</div>
	<div style="min-width: 30%;"> 
	{% include "partials/_address.html.twig" %}
	</div>
</div>

