<div class="d-flex">
<h1 class="main_title title_text ms-3" id="main_title"><img src="/assets/images/logo.png" alt="logo" id="logo" class="rounded me-3"
{# style="width: 120px; height: 70px;" #}
/>Garage de Vincent Parrot</h1></div>
<div>