<div class="d-flex flex-column rounded" 
style="padding: 15px;"  id="block_services">
<h2 id="services_title">Nos services</h2>
<div class="d-flex flex-column flex-start" id="services_list">
<p>Véhicule de courtoisie</p>
<p>Mécanique générale
toute marque</p>
<p>Entretien et remise à zéro
des compteurs</p>
<p>Diagnostic et recherche de
pannes électrique, électronique</p>
<p>Montage équilibrage
des pneumatiques</p>
<p>Dépannage et remorquage</p>
<button type="button" class="fs-4 text-light rounded fw-bold"  id="bnt_contact">Contactez-nous</button>
</div>
</div>
