{% extends 'base.html.twig' %}

{% block title %}Créer Service{% endblock %}

{% block body %}
    <h1>Créer Service</h1>

    {{ include('service/_form.html.twig') }}

    <a href="{{ path('app_service_index') }}">Vers la liste</a>
{% endblock %}
