{% extends 'base.html.twig' %}

{% block title %}Modifier commentaire{% endblock %}

{% block body %}
    <h1>Modifier commentaire</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comment.index') }}">Vers la liste</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
