{% extends 'base.html.twig' %}

{% block title %}Créer Equipment{% endblock %}

{% block body %}
    <h1>Créer un Equipment</h1>

    {{ include('equipment/_form.html.twig') }}

    <a href="{{ path('equipment.index') }}">Vers la liste</a>
{% endblock %}
