/* Headline text */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
/* text body*/
  @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
/* font p */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap");

/* Title*/
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

:root {
  --main_bg_color: #D92332;
  --nav_bg_color: #d94350;
  --rose: #d9777f;
  --dark: #262526;
  --light: #F2F2F2;
  --bg_base: #f2f2c2;
}

.body {
  width: 100%;
}

/* .alert {
font-size: 1.3em;
} */

h1,
h2,
h3,
h4,
h5, 
button a,
a,
.nav-link-footer,
.schedule_day{
  font-family: 'Rajdhani', sans-serif;
}
.cursor{
cursor: pointer;
}
.close{
  padding: 0 10px;
  font-weight: bold;
}

.link_del_car_sh{
  padding: 0 10px;
}
.close:hover{
background-color: blue;
color: white;
}
#bnt_contact{
  background: var(--nav_bg_color);
}
/* **********@media screen and (min-width: 375px)*****/
@media screen and (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
   
  }
  .call_us_lg{
    display: none;
  }

  .call_icon{
    background-color: rgb(227, 227, 229);
    border-radius: 10px;
    padding: 5px;
  
   }

.call_us_xs{
  display: block;
  position: absolute;
  font-size: 1.2em;
  top: 2%;
 
}
  .contact_form{
    height: auto;
  }
  p{
    font-family: 'Barlow', sans-serif;
  font-size: 2em;
    color: white;
  }
  .p_sec{
    font-size: 1.5em;
  }

  #body_home_base{
    background: none;
  }

  #logo{
    width: 120px; 
    height: 70px;
  }

  .services_txt{
    font-size: 1.4em;
  }
.bg_serv{
background-color: #be080886;
}
.services_title_page{
  font-size: 2em!important;
  font-weight: bold;
}

  #main_title {
    font-family: 'Rajdhani', sans-serif;
    color: var(--main_bg_color);
    background-color: var(--light);
    text-shadow: -2px 1px 1px rgb(75, 68, 68);
    font-weight: 500;
    font-size: 2.2em;
    letter-spacing: 2px;
    width: 100%; 
    padding:  3px;
  
  }

  #block_services{
    background-color: var(--nav_bg_color)!important; 
     background: none;
     display: flex;
     flex-direction: column;
     align-items: center;
    
  }

  .services_list{
    display: flex;
     flex-direction: column;
     align-items: center;
  }

  .drop_user{
    margin-right: 7rem;
    font-style: 2em;
    margin-top: -50%;
    margin-left: 2%;
  }
 
  .dropdown-menu{
   background-color: var(--nav_bg_color);
  }

  .dropdown-item{
    margin-top: 20%;
    font-size: 1em!important;
    padding: 0;
   }
  
  .body_homepage_base{
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    width: 100%;
    background-color: #a7a77b;
  }

  .navbar,
  footer,
  #line_sched_adr_liens {
    background-color: var(--main_bg_color);
  }

  .navbar-toggler-icon {
    font-size: 1.8em;
    color: white;
  }

  #navbarColor01{
    z-index: 5;
    background-color: var(--main_bg_color);
    width: 100%;
    height: 100vh;
  }
  
  .navbar{
    height: 80px;
  }

  .navbar a,
  footer a {
    color: white;
    font-size: 2em;
  }

  .nav-link-name {
    font-family: 'Rajdhani', sans-serif!important;
    margin-top: -20px;
    
  }

  #btn_rdv {
    background-color: var(--main_bg_color);
    font-weight: bold;
    cursor: pointer;
  }

  #btn_rdv a{
    text-decoration: none;
    font-size: 1.8em!important;
    cursor: pointer;
  }
    
  #btn_rdv:hover {
    background-color: var(--rose)!important;
    border: 2px solid var(--main_bg_color);
    transition: 0.3s ease-in-out;
    font-weight: 700;
    color: var(--light);
    text-shadow: 2px 2px black;
   
  } 

  #btn_rdv a:hover{
   color: var(--light)!important;
   transition: 0.3s ease-in-out;
  }

  #btn_contact {
    margin-top: 20px;
    background-color: var(--main_bg_color);
    font-weight: bold;
  }

  #btn_contact a{
    text-decoration: none;
    font-size: 2em!important;
   
  }

  #btn_contact:hover {
    background-color: var(--rose)!important;
    border: 2px solid var(--main_bg_color);
    transition: ease-in;
    font-weight: 700;
    color: var(--light);
  } 

  #btn_contact a:hover{
   color: var(--light)!important;
  }

  .show_content_btn{
    background-color: blue;
    color: white;
    border: 1px solid blue;
   }

  .show_content_btn:hover{
    border: 1px solid white;
    background-color: var(--main_bg_color);
    color: white;
  }

  .link{
    padding: 5px;
    border: 2px solid white;
    background-color: var(--nav_bg_color);
    color: white;
  }

  .btn_link_delete{
    padding: 5px;
    border: 2px solid white;
    background-color: red;
    color: blue!important;
 
  }

  .btn_link_delete:hover{
    padding: 5px;
    border: 2px solid red;
    background-color: white;
    color: blue;
  }

  .link_delete{
    padding: 5px;
    background-color: red;
    color: white;
    border: 2px solid white;
   
  }

  .link:hover {
 border: 2px solid red;
 color: red;
 background-color: white;
 font-weight: bold;
 
  }

  .link_delete:hover {
    border: 2px solid darkblue;
    color: rgb(63, 63, 65);
    background-color: red;
    font-weight: bold;
  }

  .down_link{
    color: var(--light);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.4em;
  }

  .down_line_names {
    background: var(--light);
    color: var(--main_bg_color);
    padding: 2px 15px;
    border-radius: 10px;
    width:200px;
    font-size: 1.8em;
  }
  
  .down_link:hover{
    background-color: var(--rose);
    color: var(--dark);
    transition: 0.3s ease-in-out;
  }

  /* #btn_up {
    color: var(--dark);
    background: var(--bg_base);
    background: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.4em;
    padding: 5px;
    position: absolute;
    position: fixed;
    top: 90%;
    right: 1%;
  } */
  #btn_up {
 
   width: 70px;
    position: absolute;
    position: fixed;
    top: 90%;
    right: 1%;
  }
#btn_home {
  text-decoration: none;
  font-size: 1.2em;
  background-color: var(--rose);
}

#btn_home a{
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 15px;
}

  .nav-item {
    padding-top: 5em;
  }

  .lien_s_a{
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .nav-link-footer{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
  }

  .address_line p{
    font-size: 1.1em;
  }

#bestComments{
  background: var(--nav_bg_color);
}

.bestCommBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
 
    .choiceList-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
     
  .capitalize {
    text-transform: capitalize;
  }
 
  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }
  
  #btn_reload {
    padding: 10px;
    font-size: 1em;
    margin-top: 1.2em !important;
    cursor: pointer;
    color: rgb(244, 248, 244);
    background: var(--rose);
    font-weight: bold;
    width: auto;
  }

  #btn_reload:hover {
    color: rgb(64, 64, 5);
    background-color: white !important;
    transition: 0.3s ease-in-out;
  }
  
  .disabled {
    cursor: not-allowed;
    background-color: dimgrey;
    color: linen;
    opacity: 1;
  }

#btn_comments,
#btn_comment,

#btn_home
{
  font-size: 1.1em!important;
}

.p_common{
  color:#262526; 
}

#btn_comments:hover,
#btn_comment:hover{
  background-color: silver;
  transition: 0.3s ease-in-out;
}

#btn_home:hover{
  background-color: var(--main_bg_color);
  color:#ccc;
  transition: 0.3s ease-in-out;
}

#btn_up:hover{
 
  width: 78px;
  transition: 0.3s ease-in-out;
  border:3px solid rgb(122, 5, 5);
  border-radius: 50%;

}

.to_posts:hover{
  background-color: var(--main_bg_color);
  color: var(--light);
transition: 0.3s ease-in-out;
border:1px solid white;
}

.schedule_day{
  font-size: 1.5em;
} 

.form-label{
  font-size: 2em;
}

#rangeKmMin,
#rangeKmVal,
#rangePriceMin,
#rangePriceVal,
#rangeYearMin,
#rangeYearVal
{
  font-size: 1.7em!important;
}

#yearReload,
#priceReload,
#kmReload{
  font-size: 1.4em!important;
}

.card-title
{
  font-size: 2em;
}

.link_details{
  font-size: 0.8em;
}
/* **services page */
.serv_page_ttl{
  text-shadow: 2px 2px white; 
  color: #D92332; 
  width: auto;
  background-color: #c8ccb3bb;
  font-size: 1.7em!important;
 
}
.serv_ttl_list{
  margin-left: 5px;
  font-size: 1.3em;
}
.btn_up_serv{
  background-color: white;
  color:  #D92332;
  font-size: 1em;
  border-radius: 50%!important;
  text-decoration: none;
  height:40px!important;

 
}
/* *****************page car.index**************** */
.main_car_img{
  width: 350px;
  height: 250px;
}

.range_ttl{
  font-size: 1.3em;
}

#rangeKmMin,
#rangeKmVal,
#rangePriceMin,
#rangePriceVal,
#rangeYearMin,
#rangeYearVal{
  font-size: 1.3em!important;
}

.form-range{
  width: 350px;
}

.main_car_img_edit img{
  width: 350px;
  height: auto;
}

.link_details{
  color: var(--light);
}

.link_details:hover{
color: var(--main_bg_color);
text-decoration: underline;
transition: 0.3s ease-in-out;
}

.card_body{
  background-color: var(--rose)!important;
  width: 370px;
  
}

.car_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d9777f; 
}

#h1_car_index{
  color: var(--main_bg_color);
  text-shadow: 2px 2px 1px rgb(93, 91, 91);
}

.btn_create a
{ color: white;
 
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 5px;
  margin: 5px;
}

.btn_create{
  background: #d94350;
  color: white;
}

.btn_create:hover{
  background-color: #fff;
  color: var(--main_bg_color);
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.btn_create a:hover{
  color: var(--main_bg_color);
}

.range_block{
  display: flex;
  flex-direction: column;
}

#carPosts_block {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 3%;
  justify-content: center; 
}

.hidden{
  display: none;
}

#commentNew{
  width: 100%;
  height: 30%;
  
}

.card-text{
  font-size: 1.4em;
}

/* ********page car.show*375px****** */

.carousel-control-prev-icon,
.carousel-control-next-icon{
  background-color: rgb(33, 33, 135)!important;
}
.cont_txt{
  font-size: 1.4em;
}

.gallery_img{
  position:relative;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
  height: auto;
  margin-bottom: 1em;
}

.contact_content{
  width: 375px;
}

#carouselExampleIndicators{
  display: flex;
  justify-content: center;
} 

.show_block_titles span{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.adr_p{
  font-size: 1.9em!important;
 }

 #caracter_btn,
 #equip_btn,
 #opt_btn,
 #contact_btn{
font-size: 1.4em!important;
color: rgb(225, 222, 222);
background-color: rgb(76, 73, 73);
box-shadow: 1px 3px 5px white;
font-weight: bold;
 }

 #equip_block{
  width: 350px;
 }

 #contact_btn:hover,
 #equip_btn:hover,
 #opt_btn:hover,
 #caracter_btn:hover{
background-color: var(--main_bg_color);
color: white;
transition: 0.3s ease-in-out;
padding: 2px 8px;
 }

 .visit_site_links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visit_site_links a{
 font-size: 1.6em;
}

.call_us_txt{
  border-radius: 8px;
  color: #0c1e94;
  background-color: #fff;
}

 /* page car new */
 .car_new_container{
  height: auto!important;
  width: 100%;
 }

 .img_edit_block{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.opt{
  width: 375px!important;
}

/* page login */
.login_page_container{
  height: auto;
}

#bg_homepage {
  width: 100%; 
  height: 40vh!important; 
 
}


/* car eidt */
.img_edit_main{
  width: 100px !important;
}
/* ****error */
.error_img{
  margin-top: 3%;
  width: 50%; 
  min-height: 20vh;  
  
}
}
@media screen and (min-width: 512px) {
/* *****************page car.index 512px**************** */
.main_car_img{
  width: 280px!important; 
  height: auto;
}

.main_car_img_edit img{
  width: 450px; 
  height: auto;
}
#rangeKmMin,
#rangeKmVal,
#rangePriceMin,
#rangePriceVal,
#rangeYearMin,
#rangeYearVal{
  font-size: 1em!important;
}
.form-range{
  width: 100%!important;
}
.range_ttl{
  font-size: 1em;
}

#btn_reload {
  font-size: 0.8em;
  margin-top: 1.2em !important;
  width: 160px;
}
.btn_reload{
  width: auto;
  font-size: 0.8em;
}

#carPosts_block {
  display: flex;
  /* flex-direction: column; */
left:50%;
transform: translateX(-45%);
  margin-top: 3%;
  margin-bottom: 0;

  width: 300px;
}
.card-title
{
  font-size: 1.6em;
  font-weight: bold;
}
.card-text
{
  font-size: 1.1em;
}
.link_details{
  font-size: 0.6em;
}

.car_info{
min-height: auto;
margin-bottom: 20px;
}

.range_block{
  display: flex;
  flex-direction: row;
 
}

}
/******************768px************** */
  @media screen and (min-width: 768px) {
    .container {
      height: 100vh;
    }

  #line_sched_adr_liens{
    display: flex;
    flex-direction: row;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
    width: 100%;
    height: 3em;
  }
  
  .nav-link-footer{
    color: var(--light);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
  }

  .visit_site_links {
    display: flex;
  }

  .address_line{
    display: flex;
  }

  .adr_p{
   font-size: 1.9em!important;
  }

  #bg_homepage {
    width: 100%; 
    height: 55vh!important; 
   
  }
.comments_all_block{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  /* *****************page car.index 768px**************** */
.main_car_img{
  width: 300px!important; 
  height: 200px;
}

.main_car_img_edit img{
  width: 450px; 
  height: auto;
}

.form-range{
  width: 200px!important;
}

#btn_reload {
  font-size: 1.3em;
  margin-top: 1.2em !important;
  width: 260px;
}
.btn_reload{
  width: auto;
  font-size: 1.1em;
}

#carPosts_block {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  justify-content: space-between; 
  width: 700px;
  
}

.range_block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visit_site_links {
  display: flex;
  flex-direction: column;
}

.range_block{
  display: flex;
  flex-direction: row;
}

.car_info{
  margin-top: 10px;
  max-width: 350px!important;
}

.range_ttl{
  font-size: 1.2em;
}

.range_val span{

  width:200px;
}

#rangeKmMin,
#rangeKmVal,
#rangePriceMin,
#rangePriceVal,
#rangeYearMin,
#rangeYearVal{
  font-size:1.2em!important;
}
 /**page car.show* 768px*** */
 .car_show_container {
height: 100vh;
margin-bottom: 20px;
 }

 .contact_content{
  width: 450px;
}

 .gallery_img{
  width: 500px!important;
  height: 450px!important;
}
  .drop_user{
    margin-right: 7rem;
    font-style: 2em;;
  }

  .down_link{
    color: var(--light);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
  }

  .login_page_container{
    height: 300px;
  }
    /* car.edit 768px */
    .img_edit_block{
      align-items: center;
     }

     #commentNew{
      position: relative;
     top: 0;
    
    }
    .suppl_info_block{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
   
}
/* @media screen and (min-width: 800px) */
@media screen and (min-width: 800px) {
/**page car.show* 800px*** */
.gallery_img{
  width: 300px!important;
  height: 250px!important;
}

  .drop_user{
    margin-right: 7rem;
    font-style: 2em;;
  }
  
  .down_link{
    color: var(--light);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
  }

  #body_home_base{
    background-color: #f0db9c!important;
  }

  .main_car_img_edit img{
    width: 550px; 
    height: auto;
  }
 
}

/* ************************1024px****************** */
  @media screen and (min-width: 1024px) {
    .bg_services_block{
      display: flex;
    }

    .call_us_xs{
      display: none;
    }

   .call_us_lg{
      display: block;
    }

    .call_us{
      display: block;
      position: relative;
      right: 10%;
      transform: translateX(0%);
      font-size: 1.2em;
      border: 1px solid white;
      padding: 10px;
      border-radius: 5px;
      width: 200px;
    }
  
    .contact_form{
      height: 80%;
    }

    .comm_title{
      font-size: 2.5em;
    }

    #main_title {
      display: inline-block;
      text-shadow: -2px 2px 2px rgb(82, 80, 80);
      padding: 5px;
      z-index: 3;
     border-radius: 0 0 10px 0;
     font-size: 3em;
     box-shadow: 2px 5px 5px silver;
    }
 
   #bg_homepage {
    width: 110%; 
    height: 38vh!important;  
  }  
 
    #block_services{
    width: 50%;
    color: var(--light)!important;
    position: absolute;
     left: 0%;
     margin-top: 0;
     border-radius: 0 0 0 0;
     margin-bottom: 2%;
     height: 42%;
  } 

  .srv_plus_img{
    height: 550px;
  }

  .services_title_page{
    margin-bottom: 10px;
    font-size: 2em!important;
    color: var(--light);
    text-shadow: -2px 1px 1px rgb(75, 68, 68);
  }

  .services_txt{
    font-size: 1.5em;
    margin: 0 10%;
    color: white;
  }
  .serv_ttl_list{
    margin-left: 5px;
    font-size: 1.3em;
  }

  #block_services p{
  font-size: 1.2em;
  padding: 10px;
} 
 
  .navbar-toggler{
    font-size: 2em!important;
    color: white;
  } 
  
  .drop_user{
    margin-right: 7rem;
    font-style: 2em;
    margin-top: -5%;
    margin-left: 25%;
  }
 
  .dropdown-menu{
   background-color: var(--nav_bg_color);
  }

  .dropdown-item{
    margin-top: 10%;
    font-size: 1em!important;
    padding: 10pxs;
   }

  #navbarColor01{
    width: 100%!important;
    height: 80px;
  }

  #navbarColor01 a {
    font-size: 1.3em!important;
    padding: 10px;
  }

  .nav-link-name {
    font-family: 'Rajdhani', sans-serif!important;
    /* font-size: 1.2em!important; */
    margin-top: -20px;
  }

  .nav-item {
    padding-top: 0.5em;
  }
  .nav-link-footer{
   
    font-size: 1.4em!important;
  }
 
  .dropdown-item,
  #username {
    font-size: 1.2em !important;
  } 

   .footer-link {
    font-size: 1em !important;
  }

  .text_block_p {
    font-size: 2em !important;
  }

  .visit_site_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .visit_site_links li {
    padding: 0.2em;
    list-style: circle;
    margin-bottom: 1em;
    font-size: 1em;
  } 

  

  .btn_home {
    text-decoration: none;
    font-size: 1.4em;
  } 

  .schedule_day{
font-size: 1.6em;
  }

  .schedule_time{
    font-size: 1.2em!important;
  }

  .text_block_p {
    font-size: 1.3em !important;
    color: rgb(226, 223, 223) !important;
  } 

   .schedule_list {
    min-width: 140px;
    padding-top: 10px;
  }

  #comment_content,
  #comment_mark,
  #comment_commentator
  {
    font-size: 1em!important;
  }

  .comm_all_txt
  {
    font-size: 1.2em!important;
  }

  .pagination span{
letter-spacing: 3px;
    font-size: 1.6em;
      }

      .comments_all_block{
        display: flex;
        flex-direction: row;
       flex-wrap: wrap;
      }
/* car.index */
  #carPosts_block {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 3%;
    width: 980px;
  }

  .form-range{
    width: 300px!important;
  }

  .bestCommBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%!important;
  }

  .p_sec{
    font-size: 1.3em;
  }

  .adr_p{
    font-size: 1.7em!important;
   }

   .footer-copyright{
    font-size: 1.2em;
   }

   #btn_rdv{
    margin-top: -2%;
   }

   #commentNew{
    width: 94%;
    height: 50%;
    left: 1%; 
  }

   /* page car new */
 .car_new_container{
  height: auto!important;
  width: 75%;
  margin-bottom: 10%;
 }

  /* ****page car.show *1024px** */
  .gallery_img{
    width: 765px!important;
    height: 650px!important;
  }

  .show_block_titles span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   width: 100px;
  }

  .contact_content{
    width: 900px;
  }

  .cont_txt{
    font-size: 1.6em;
  }

  .car_info{
    margin-top: 10px;
  }

  #btn_rdv a{
    font-size: 2em!important;
  }

  .badge{
    width: 180px!important;
  }

  .badge_caract{
    width: 250px!important;
    font-size: 1.6em;
  }

  #equip_block,
  #opt_block{
    width: 500px!important;
   }

   #contactForm{
    width: 500px;
   }

  .car_info_show{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#btn_comments,
#btn_comment,

#btn_home
{
  font-size: 1.1em!important;
}

.down_link{
  font-size: 1.7em;
}

.login_page_container{
  height: 460px;
}
  .serv_ttl_list{
    margin-left: 5px;
    font-size: 1.9em;
   
  }
  /* car.edit 768px */
  .img_edit_block{
    flex-direction: row;
    justify-content: space-between;
   }

   .img_edit{
    margin: 10px;
   }

   .equip_edit,
   .opt_edit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }

   .main_car_img_edit img{
    width: 700px; 
    height: auto;
  }
 }  
 /* ************************1440px***************************************** */
 @media screen and (min-width: 1440px) {
  #main_title {
    position: relative;
    text-shadow: -2px 2px 2px rgb(82, 80, 80);
    padding:  10px;
    z-index: 3;
    margin-top: -2%;
    left: 50%;
   transform: translateX(-50%);
   border-radius: 1px 1px 12px 12px;
   width: auto;
   font-size: 3em;
  }
  .car_info{
    margin-top: 10px;
    max-width: 400px!important;
  }
  .serv_page_ttl{
    text-shadow: 2px 2px white; 
    color: #D92332; 
    width: auto;
    background-color: #c8ccb3bb;
    font-size: 4em!important;
    padding: 5% 1%;
  
   
  }

  .call_us{
    right: 5%;
    transform: translateX(0%);
    font-size: 1.4em;
    border: 1px solid rgb(183, 12, 12);
    width: 460px;
    margin-right: 20px;
  }

  .drop_user{
    margin-right: 7rem;
    font-size: 1em;
    margin-top: -1%;
    margin-left: 25%;
  }
#contact_submit{
  font-size: 1.1em;
}
#bg_homepage {
  width: 100%; 
  height: 76vh!important; 
  margin-top: -0.2em; 
  z-index: -1;
} 
.services_title_page_home{
  font-size: 2em;
}
.service_and_img{
  height: 700px;
 
}

.services_title{
  font-size: 1.6em!important;
}

#block_services p{
font-size: 1.6em;
padding: 15px;
} 

#block_services {
  height: 77%;
  } 

/* .navbar-toggler-icon {
  font-size: 1.4em;
  color: white;
}  */

#navbarColor01{
  width: 100%;
  height: 70px!important;
  
}

.navbar-nav a,
footer a {
  color: white;

}



.nav-item {
  padding-top: 0.5em;
}

.dropdown-item,
#username {
  font-size: 1em !important;
} 

 .footer-link {
  font-size: 1em!important;
}

.text_block_p {
  font-size: 2em!important;
}

.visit_site_links {
  display: flex;
  flex-direction: column;
}

.visit_site_links li {
  padding: 0.2em;
  list-style: circle;
  margin-bottom: 1em;
} 



#btn_home {
  text-decoration: none;
  font-size: 1.4em!important;
} 

 #btn_rdv {
  width: 300px;
  font-size: 2em;
  position: absolute;
  left: 65%;
  top: 90%;
  z-index: 7;
  padding: 20px;
  border: 2px solid #ccc;
}

#btn_rdv a {
  font-size: 1.1em!important;
}

.text_block_p {
  font-size: 1.3em !important;
  color: rgb(226, 223, 223) !important;
} 

 .schedule_list {
  min-width: 140px;
  padding-top: 10px;
}

/* car.index */
#carPosts_block {
  position: relative;
  margin-top: 3%;
  left: 50%;
  transform: translateX(-47%);
  min-width: 1340px;
}

.main_car_img{
  width: 350px; 
  height:250px;
}

.form-range{
  width: 400px!important;
}

/* *****car.show 1440********/

.gallery_img{
  width: 850px!important;
  height: 650px!important;
}

.show_block_titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
 width: 300px;
}

.login_page_container{
  height: 260px;
}

.table_schedule{
  width: 70%;
}

.car_new_container{
  height: auto!important;
  width: 50%;
  margin-bottom: 10%;
 }

 .main_car_img_edit img{
  width: 650px; 
  height: auto;
}

#commentNew{
  width: 40%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}
.contact_content{
  width: 600px;
  height: auto;
}
.dem_cont_th{
  font-size: 1.2em;
}
.error_img{
  width: 25%; 
  min-height: 20vh;  

}
}  
