/* Headline text */
  @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
/* text body*/
  @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
/* font p */
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap");

/* Title*/
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

:root {
  --main_bg_color: #D92332;
  --nav_bg_color: #d94350;
  --rose: #d9777f;
  --dark: #262526;
  --light: #F2F2F2;
  --bg_base: #f2f2c2;
}

.body {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5, 
button a,
a,
.nav-link-footer,
.schedule_day{
  font-family: 'Rajdhani', sans-serif;
}
.cursor{
cursor: pointer;
}
.close{
  padding: 0 10px;
  font-weight: bold;
}

.link_del_car_sh{
  padding: 0 10px;
}
.close:hover{
background-color: blue;
color: white;
}
#bnt_contact{
  background: var(--nav_bg_color);
}
/* **********@media screen and (min-width: 375px)*****/
@media screen and (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
   
  }
  .contact_form{
    height: auto;
  }
  p{
    font-family: 'Barlow', sans-serif;
  font-size: 2em;
    color: white;
  }
  .p_sec{
    font-size: 1.5em;
  }

  #body_home_base{
    background: none;
  }

  #logo{
    width: 120px; 
    height: 70px;
  }

 
  
  /* .services_title_page{
    font-size: 2.4em!important;
    padding-top: 15px;
  } */
  .services_txt{
    font-size: 1.8em;
    
  }
.services_title_page{
  font-size: 2.8em!important;
  font-weight: bold;
}

  #main_title {
    font-family: 'Rajdhani', sans-serif;
    color: var(--main_bg_color);
    background-color: var(--light);
    text-shadow: -2px 1px 1px rgb(75, 68, 68);
    font-weight: 500;
    font-size: 2.2em;
    letter-spacing: 2px;
    width: 100%; 
    padding:  3px;
  
  }
  #block_services{
    background-color: var(--nav_bg_color)!important; 
     background: none;
     display: flex;
     flex-direction: column;
     align-items: center;
    
  }
  .services_list{
    display: flex;
     flex-direction: column;
     align-items: center;
  }
  .drop_user{
    margin-right: 7rem;
    font-style: 2em;
    margin-top: -50%;
    margin-left: 2%;
  }
 
  .dropdown-menu{
 
   background-color: var(--nav_bg_color);
  }
  .dropdown-item{
    margin-top: 20%;
    font-size: 1em!important;
    padding: 0;
   }
   /* .dropdown-item {
    font-size: 2em !important;
  }  */
  
  .body_homepage_base{
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    width: 100%;
    background-color: #a7a77b;
  }
  .navbar,
  footer,
  #line_sched_adr_liens {
    background-color: var(--main_bg_color);
  }
  .navbar-toggler-icon {
    font-size: 1.8em;
    color: white;
  }
  #navbarColor01{
    z-index: 5;
    background-color: var(--main_bg_color);
    width: 100%;
    height: 100vh;
  }
  
  .navbar{
    height: 80px;
  }
  .navbar a,
  footer a {
    color: white;
    font-size: 2.8em;
  }
  .nav-link-name {
    font-family: 'Rajdhani', sans-serif!important;
    font-size: 2.6em!important;
    margin-top: -20px;
    
  }
  #btn_rdv {
    background-color: var(--main_bg_color);
 
    font-weight: bold;
    cursor: pointer;
  }
  #btn_rdv a{
    text-decoration: none;
    font-size: 1.8em!important;
    cursor: pointer;
  }
    
  #btn_rdv:hover {
    background-color: var(--rose)!important;
    border: 2px solid var(--main_bg_color);
    transition: 0.3s ease-in-out;
    font-weight: 700;
    color: var(--light);
    text-shadow: 2px 2px black;
   
  } 
  #btn_rdv a:hover{
   color: var(--light)!important;
   transition: 0.3s ease-in-out;
  }

  #btn_contact {
    margin-top: 20px;
    background-color: var(--main_bg_color);
    font-weight: bold;
  }

  #btn_contact a{
    text-decoration: none;
    font-size: 2em!important;
   
  }
  #btn_contact:hover {
    background-color: var(--rose)!important;
    border: 2px solid var(--main_bg_color);
    transition: ease-in;
    font-weight: 700;
    color: var(--light);
  } 
  #btn_contact a:hover{
   color: var(--light)!important;
  }

  .show_content_btn{
    background-color: blue;
    color: white;
    border: 1px solid blue;
   }

  .show_content_btn:hover{
    border: 1px solid white;
    background-color: var(--main_bg_color);
    color: white;
  }
  .link{
    padding: 5px;
    border: 2px solid white;
    background-color: var(--nav_bg_color);
    color: white;
  }
  .btn_link_delete{
    padding: 5px;
    border: 2px solid white;
    background-color: red;
    color: blue!important;
 
  }

  .btn_link_delete:hover{
    padding: 5px;
    border: 2px solid red;
    background-color: white;
    color: blue;
  }

  .link_delete{
    padding: 5px;
    background-color: red;
    color: white;
    border: 2px solid white;
   
  }

  .link:hover {
 border: 2px solid red;
 color: red;
 background-color: white;
 font-weight: bold;

 
  }
  .link_delete:hover {
    border: 2px solid darkblue;
    color: rgb(63, 63, 65);
    background-color: red;
    font-weight: bold;
  }
  .down_link{
    color: var(--light);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.4em;


  }
  .down_line_names {
    background: var(--light);
    color: var(--main_bg_color);
    padding: 2px 15px;
    border-radius: 10px;
    width:300px;
    font-size: 2.1em;
  }
  
 
  .down_link:hover{
    background-color: var(--rose);
    color: var(--dark);
    transition: 0.3s ease-in-out;
    
  }
  #btn_up {
    color: var(--dark);
    background: var(--bg_base);
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.4em;
    padding: 5px;
  }
#btn_home {
  text-decoration: none;
  font-size: 1.2em;
  background-color: var(--rose);

}
#btn_home a{
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 15px;
}

  .nav-item {
    padding-top: 5em;
  }
  .lien_s_a{
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .nav-link-footer{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
  }
  .address_line p{
    font-size: 1.1em;
  }
#bestComments{
  background: var(--nav_bg_color);
}
.bestCommBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
 
    .choiceList-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
    
  .imageFile {
    min-width: 350px;

    min-height: 300px;
  } 
 
  .capitalize {
    text-transform: capitalize;
  }
 
  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }
  
  #btn_reload {
    padding: 10px;
    font-size: 1.7em;
    margin-top: 1.2em !important;
    cursor: pointer;
    color: rgb(244, 248, 244);
    background: var(--rose);
    font-weight: bold;
    width: 330px;
  }
  #btn_reload:hover {
    color: rgb(64, 64, 5);
    background-color: white !important;
    transition: 0.3s ease-in-out;
  }
  
  .disabled {
    cursor: not-allowed;
    background-color: dimgrey;
    color: linen;
    opacity: 1;
  }
#btn_comments,
#btn_comment,
#btn_up,
#btn_home
{
  font-size: 1.6em!important;
}
.p_common{
  color:#262526; 
}
#btn_comments:hover,
#btn_comment:hover{
  background-color: silver;
  transition: 0.3s ease-in-out;
}
#btn_home:hover{
  background-color: var(--main_bg_color);
  color:#ccc;
  transition: 0.3s ease-in-out;
}
#btn_up:hover{
  background-color: var(--main_bg_color);
  color: var(--light);
  padding: 5px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  border:1px solid white;

}
.to_posts:hover{
  background-color: var(--main_bg_color);
  color: var(--light);
transition: 0.3s ease-in-out;
border:1px solid white;
}
.schedule_day{
  font-size: 2em;;
} .form-label{
  font-size: 2em;
}
#rangeKmMin,
#rangeKmVal,
#rangePriceMin,
#rangePriceVal,
#rangeYearMin,
#rangeYearVal
{
  font-size: 1.7em!important;
}

#yearReload,
#priceReload,
#kmReload{
  font-size: 1.4em!important;
}
.card-title
{
  font-size: 3em;
}
.link_details{
  font-size: 1.5em;
}
/* *****************page car.index**************** */
.main_car_img{
  min-width: 350px;
  height:250px;
}
.link_details{
  color: var(--light);
}
.link_details:hover{
color: var(--main_bg_color);
text-decoration: underline;
transition: 0.3s ease-in-out;
}

.card_body{
  background-color: var(--rose)!important;
  min-width: 370px;
  
}
.car_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d9777f; 
  max-width: 500px;
}
#h1_car_index{
  color: var(--main_bg_color);
  text-shadow: 2px 2px 1px rgb(93, 91, 91);
}
.btn_create a{
  color: var(--light);
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 5px
}
.btn_create a:hover{
  background-color: #fff;
  color: var(--main_bg_color);
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
.range_block{
  display: flex;
  flex-direction: column;
}
 
/* ********page car.show*375px****** */


.gallery_img{
  position:relative;
  left: 13%;
  width: 375px;
  height: auto;
  margin-bottom: 1em;
}
.contact_content{
  width: 375px;
}
#carouselExampleIndicators{
  display: flex;
  justify-content: center;
  
} 

.show_block_titles span{
  display: flex;
  justify-content: center;
  margin-top: 10px;

}
.adr_p{
  font-size: 1.9em!important;
 }
 #caracter_btn,
 #equip_btn,
 #opt_btn{
font-size: 1.3em!important;
 }
 
 #contact_btn:hover,
 #equip_btn:hover,
 #opt_btn:hover,
 #caracter_btn:hover{
background-color: var(--main_bg_color);
color: white;
transition: 0.3s ease-in-out;
padding: 2px 8px;
 }
 /* page car new */
 .car_new_container{
  height: auto!important;
  width: 100%;
 }
.opt{
  width: 375px!important;
}
/* page login */
.login_page_container{
  height: auto;
}
#bg_homepage {
  width: 100%; 
  height: 50vh!important; 
 
}
}
/******************768px************** */
  @media screen and (min-width: 768px) {
    .container {
      height: 100vh;
    }

  #line_sched_adr_liens{
    display: flex;
    flex-direction: row;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
    width: 100%;
    height: 3em;
  }
  
  .nav-link-footer{
    color: var(--light);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
  }
  .visit_site_links {
    display: flex;
  }
  .address_line{
    display: flex;
  }
  .adr_p{
   font-size: 1.9em!important;
  }
  #bg_homepage {
    width: 100%; 
    height: 50vh!important; 
   
  }
  /* *****************page car.index 768px**************** */
.main_car_img{
  width: 450px; 
  height:280px;
}
#carPosts_block {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 3%;
  justify-content: center; 
}
.card_body{
  min-width: 350px;
}
.visit_site_links {
  display: flex;
  flex-direction: column;
}
.range_block{
  display: flex;
  flex-direction: row;
}
 /**page car.show* 768px*** */
 .car_show_container {
height: 100vh;
margin-bottom: 20px;
 }

 .contact_content{
  width: 450px;
}

 .gallery_img{
  position:relative;
  left: 13%;
  width: 500px!important;
  height: 450px!important;
}
  .drop_user{
    margin-right: 7rem;
    font-style: 2em;;
  }
  .down_link{
    color: var(--light);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;


  }
  .login_page_container{
    height: 300px;
  }
}
@media screen and (min-width: 800px) {
/**page car.show* 768px*** */
.gallery_img{
  position:relative;
  left: 13%;
  width: 300px!important;
  height: 250px!important;
}
  .drop_user{
    margin-right: 7rem;
    font-style: 2em;;
  }
  .down_link{
    color: var(--light);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;


  }
  #body_home_base
  {
    background-color: #f0db9c!important;
  }
 
}

/* ************************1024px****************** */
  @media screen and (min-width: 1024px) {
    .bg_services_block{
      display: flex;
    }
    .contact_form{
      height: 80%;
      
    }
    .comm_title{
      font-size: 3.3em;
    }
    #main_title {
      display: inline-block;
      text-shadow: -2px 2px 2px rgb(82, 80, 80);
      padding: 5px;
      z-index: 3;
     border-radius: 0 0 10px 0;
     font-size: 3em;
     box-shadow: 2px 5px 5px silver;
    }
 
   #bg_homepage {
    width: 100%; 
    height: 30vh!important;  
  }  
 
    #block_services{
    width: 50%;
    color: var(--light)!important;
    position: absolute;
     left: 0%;
     margin-top: 0;
     border-radius: 0 0 0 0;
     
  } 
  .services_title_page{
    margin-bottom: 10px;
    font-size: 2.9em!important;
    color: var(--light);
    text-shadow: -2px 1px 1px rgb(75, 68, 68);
  }
  .services_txt{
    font-size: 1.8em;
    margin: 0 10%;
  }

  #block_services p{
  font-size: 1.2em;
  padding: 10px;
 
} 
 
  .navbar-toggler{
    font-size: 2em!important;
    color: white;
  } 
  
  .drop_user{
    margin-right: 7rem;
    font-style: 2em;
    margin-top: 0%;
    margin-left: 25%;
  }
 
  .dropdown-menu{
   background-color: var(--nav_bg_color);
  }
  .dropdown-item{
    margin-top: 10%;
    font-size: 1em!important;
    padding: 10pxs;
   }
  #navbarColor01{
    width: 100%!important;
    height: 80px;
    
  }

  /* .nav-link {
    font-size: 1.3em !important;
    padding: 10px;
  } */
  .nav-link-name {
    font-family: 'Rajdhani', sans-serif!important;
    font-size: 2.7em!important;
    margin-top: -20px;
    
  }
  .nav-item {
    padding-top: 0.5em;
  }
  .dropdown-item,
  #username {
    font-size: 1.2em !important;
  } 

   .footer-link {
    font-size: 1em !important;
  }
  .text_block_p {
    font-size: 2em !important;
  }

  .visit_site_links {
    display: flex;
    flex-direction: column;
  }
  .visit_site_links li {
    padding: 0.2em;
    list-style: circle;
    margin-bottom: 1em;
  } 
   .btn_up {
    font-size: 1.6em !important;
    color: white;
  }
  .btn_home {
    text-decoration: none;
    font-size: 1.4em;
  } 
  .schedule_day{
font-size: 1.6em;
  }
  .schedule_time{
    font-size: 1.2em!important;
  }
  .text_block_p {
    font-size: 1.3em !important;
    color: rgb(226, 223, 223) !important;
  } 
   .schedule_list {
    min-width: 140px;
    padding-top: 10px;
  }
  #carPosts_block {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 3%;
    justify-content: space-between; 
  }
  .main_car_img{
    width: 350px; 
    height:240px;
  }
 
  .card_body{
    min-width: 350px;
  }
 
  .bestCommBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%!important;
   
  }
  .p_sec{
    font-size: 1.3em;
  }
  .adr_p{
    font-size: 1.7em!important;
   }
   .footer-copyright{
    font-size: 1.2em;
   }
   /* page car new */
 .car_new_container{
  height: auto!important;
  width: 50%;
  margin-bottom: 10%;
 }
  /* ****page car.show *1024px** */
  .gallery_img{
    position:relative;
    left: 7%;
    margin: 0 1em;;
    width: 765px!important;
    height: 650px!important;
  }
  .show_block_titles span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   width: 100px;
  }
  .contact_content{
    width: 650px;
  }
  .cont_txt{
    font-size: 1.8em;
  }
  .car_info{
    margin-top: 10px;
  }
  #btn_rdv a{
    font-size: 2em!important;
  }
  .badge{
    width: 180px!important;
  
  }
  .badge_caract{
    width: 250px!important;
    font-size: 1.6em;
  
  }
  .car_info_show{
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
  }
  #btn_comments,
#btn_comment,
#btn_up,
#btn_home
{
  font-size: 1.4em!important;
}
.down_link{
 
  font-size: 1.7em;


}
.login_page_container{
  height: 460px;
}
 }  
 /* ************************1440px***************************************** */
 @media screen and (min-width: 1440px) {
  #main_title {
    /* background-color: var(--main_bg_color); */
    position: relative;
    text-shadow: -2px 2px 2px rgb(82, 80, 80);
    padding:  10px;
    z-index: 3;
    margin-top: -2%;
    left: 50%;
   transform: translateX(-50%);
   border-radius: 1px 1px 12px 12px;
   width: auto;
   font-size: 3em;
  }

#bg_homepage {
  width: 100%; 
  height: 76vh!important; 
  margin-top: -0.2em; 
  z-index: -1;
} 

.services_title_page{
  margin-bottom: 10px;
  font-size: 2.5em;
  color: var(--light);
  text-shadow: -2px 1px 1px rgb(75, 68, 68);
  padding: 2% 0;
}

.services_title{
  font-size: 2em!important;

}

#block_services p{
font-size: 1.6em;
padding: 10px;
} 

.navbar-toggler-icon {
  font-size: 1.4em;
  color: white;
} 

#navbarColor01{
  width: 100%;
  height: 80px;
}
.navbar a,
footer a {
  color: white;
  font-size: 2em !important;
}
.nav-link {
  font-size: 1.3em !important;
  padding: 10px;
}
.nav-item {
  padding-top: 0.5em;
}
.dropdown-item,
#username {
  font-size: 1.2em !important;
} 

 .footer-link {
  font-size: 1em !important;
}
.text_block_p {
  font-size: 2em !important;
}

.visit_site_links {
  display: flex;
  flex-direction: column;
}
.visit_site_links li {
  padding: 0.2em;
  list-style: circle;
  margin-bottom: 1em;
} 
 .btn_up {
  font-size: 1.6em !important;
}
.btn_home {
  text-decoration: none;
  font-size: 1.4em;
} 
 #btn_rdv {
  width: 300px;
  font-size: 2em;
  position: absolute;
  left: 65%;
  top: 95%;
  z-index: 7;
  padding: 20px;
  border: 2px solid #ccc;
}
#btn_rdv a {
  font-size: 1.1em!important;
}
.text_block_p {
  font-size: 1.3em !important;
  color: rgb(226, 223, 223) !important;
} 
 .schedule_list {
  min-width: 140px;
  padding-top: 10px;
}
#carPosts_block {
  position: relative;
  margin-top: 3%;
}
.main_car_img{
  width: 300px; 
  height:220px;
}

.card_body{
  min-width: 350px;
}
/* *****car.show 1440********/

.gallery_img{
  position:relative;
  left: 17%;
  margin: 0 1em;;
  width: 850px!important;
  height: 650px!important;
}
.show_block_titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
 width: 300px;
}
.login_page_container{
  height: 260px;
}
.table_schedule{
  width: 70%;
}
}  
