{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
	<h1 class="text-center text-light admin_title text-light" style="z-index: 1; font-weight: bold;">Administration du site <br>" 
Garage V.Parrot"</h1>

{# <img src="/uploads/admin_bg.jpg" alt="bg" style=" height:100vh; width: 100%; position: fixed;" class="img-fluid mb-4 sm-h-50" /> #}

{% endblock %}
