{% extends 'base.html.twig' %}

{% block title %}Créer Option{% endblock %}

{% block body %}
    <h1>Créer une Option</h1>

    {{ include('option/_form.html.twig') }}

    <a href="{{ path('app_option_index') }}">Vers la liste</a>
{% endblock %}
