{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container container_contact  p-4 rounded" style="background: #D92332;">
 {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
   
<h1 class="text-light fs-1">Contactez-nous</h1>
<div class="contact_form">
{{ form(formContact) }}
</div>
</div>
<div class="row mt-3">
			<div class="col-12">
				{% include "partials/_liens_schedule_address.html.twig" %}
			</div>
		</div>
{% endblock %}
