{% extends 'base.html.twig' %}

{% block title %}Page non trouvée
  
{% endblock %}

{% block body %}
  <main class="container-error text-center" style="height: 100vh;">
      <section class="row">
          <div class="col-12">
              <h1>La page avec l'adresse saisie n'existe pas</h1>    
               <div>
              <img src="/assets/images/error-405.png" alt="bg"

class="img-fluid mb-4 error_img" />
              </div>         
              </div>
              </section>
              </main>
{% endblock %}