{% extends 'base.html.twig' %}

{% block title %}Page non trouvée
  
{% endblock %}

{% block body %}
  <main class="container-error text-center" style="height: 100vh;">
      <section class="row">
          <div class="col-12">
              <h1>Page non trouvée</h1>
              <p class="text-dark">La page que vous recherchez n'a pas été trouvée.</p>
              <div>
              <img src="/uploads/error404.png" alt="bg"

class="img-fluid mb-4 error_img" />
              </div>
              </div>
              </section>
              </main>
{% endblock %}